<div class="table">
    <div class="header">
        <span>Share Project</span>
        <div id="closeBtn" >
            <img id="close-icon" src="https://cdn-icons-png.flaticon.com/512/1828/1828778.png">
        </div>
    </div>

    <div class="body">
        <div class="row">
            <input class="input" type="text" placeholder="Thêm người để gửi đường liên kết tới">
        </div>
        <div class="row2">
            <input class="input" type="text" placeholder="Lời nhắn">
        </div>
    </div>
    <div class="content">
        <p>Quyền truy cập chung</p>
        <div class="notification">
            <div class="left">
                <i class="fa-solid fa-earth-americas"></i>
            </div>
            <div class="middle">
                <span>Bất kỳ ai có đường liên kết</span>
                <p>Bất kỳ ai có kết nối Internet và có đường liên kết này đều có thể xem</p>
            </div>
            <div class="right">
                <span>Người xem</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <button>Sao chép đường liên kết</button>
        <button>Hủy</button>
        <button>Gửi</button>
    </div>
</div>
