.homeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFFEF6;
    margin-left: 0rem;
    overflow: hidden;
}


/* sidebar */
.menuDiv{
    width: 15%;
    height: 80%;
    background-color: #FFFDEF;
}

#btnSpaceTop{
    width: 99%;
    height: 7%;
    border: none;
    border-top: 2px solid #ffef79;
    border-right: 2px solid #ffef79;
    background-color: #FFFDEF;
    margin-bottom: -1.2%;
    border-bottom-right-radius: 8px;
}

#btnSpaceBottom{
    width: 99%;
    height: 100%;
    border-right: 2px solid #ffef79;
    background-color: #FFFDEF;
    margin-top: -1%;
}

.mat-button-toggle-group{    
    display: flex;
    flex-direction: column;
    border: none;
    // border-radius: 10px;
    // border: 1px solid #ffef79;
}

.mat-button-toggle{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 99%;    
    height: 3.9rem;
    font-size: 50%;
    background-color: transparent;
    font-size: 1.5rem;
    padding-top: 6% !important;
    border-right: 2px solid #ffef79 !important;
}

#menuBtnCallendar{
    width: 98.5%;
}

.mat-button-toggle-checked{
    background-color: #FFFEF6 !important;
    border: 2px solid #ffef79 !important;
    border-right: none !important;
}

.mat-button-toggle:hover{
    cursor: pointer;
    background-color: #fffce1;
}

.mat-button-toggle-checked:hover{
    cursor: pointer;
    background-color: #fdfcee !important;
}

.mat-button-toggle-checked:active{
    border: 2px solid #ffef79 !important;
    border-right: none !important;
}

/* Home div */
.infoDiv{
    width: 100%;
    height: 10%;
    background-color: #FFFEF6;
    border-top: 2px solid #ffef79;
    padding-left: 1%;
}

.infoDiv > h1{    
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.homeDiv{
    width: 100%;
}

#funcTitle{
    font-size: 2rem;
    margin-top: 1%;
}

.projInfo{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 5 00;
    margin-top: -.4rem;
    margin-left: 1rem;
}

.userDiv{
    width: 10%;
    height: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 88%;
    margin-top: -5%;
}


.usrIcon{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;  
    border-radius: 30px;
    background-color: rgb(255, 205, 205);
}

.usrIcon1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(250, 145, 145);
    margin-left: -.7rem;
}

.usrIcon2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(255, 100, 100);
    margin-left: -.7rem;
}

.addUsr{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: .5rem;
}

.addUsr:hover{
    cursor: pointer;
}

.todoMainDiv{
    width: 96%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FFFCE0;
    padding: 1rem 0rem 0rem 0rem;
    margin-top: 4%;
    margin-left: 1rem;
    box-shadow: 0px -4px 8px 0px rgba(129, 129, 129, 0.75);
    // overflow-y: visible;
    overflow-y: scroll;
}

.dragContainer{
    width: 23%;
    margin-left: 1.5%;
}

.taskTitleDiv{
    height: 5%;
}

.taskDiv{    
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: #67dcff;
}

.taskDiv > p{
    padding: 0;
    margin: 0;
}

.todoLists{
    width: 100%;
    height: 95%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1%;
}

.taskBox{
    margin-top: 2%;
    border-radius: 15px;
    margin-bottom: 3%;
}

.taskTitle{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
}

.mat-button{
    float: right;
}

.todoCard{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border-radius: 15px !important;
}

.cardTitle{
    font-size: 1.4rem;
    margin-bottom: 1%;
}

.cardInfo{
    font-size: 1rem;
    margin-left: 3%;
}

.cardAct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 3%;
}

.cardAct > i:hover{
    cursor: pointer;
}

.commentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 600ms cubic-bezier(0, 0, 0.2, 1);
}

.addTaskPop{
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addTaskBtn{
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;
    background-color: #ffef79;
    padding: .5%;
    margin-left: 5%;
    margin-top: -5%;
}

.addTaskDiv{
    width: 98%;
    height: 5%;
    border: 3px dashed #666666;
    border-radius: 15px;
    background-color: #fffced;
    margin-top: 3%;
}

.addTaskDiv:hover{
    cursor: pointer;
}

#addTask{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #666666;
    margin-top: 2%;
}

#todoMenu:hover{
    cursor: pointer;
}

.userImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

#commentSpace{
    margin-left: 20%;
}