<app-navbar></app-navbar>

<div class="homeContainer">
    <!-- <mat-button-toggle-group value="tasks" class="menuDiv">
        <div id="btnSpaceTop"></div>
        <mat-button-toggle class="menuBtn" value="tasks">Tasks</mat-button-toggle>
        <mat-button-toggle class="menuBtn" id="menuBtnCallendar">Callendar</mat-button-toggle>
        <div id="btnSpaceBottom"></div>
    </mat-button-toggle-group> -->

    <div class="homeDiv">
        <div class="infoDiv">
            <h1 id="funcTitle">{{project_name}}</h1>
            <div class="usrImgDiv">
                <button (click)="dialogShareProject()" id="share" mat-raised-button matTooltip="Share project">
                    <i class="addUsr" class="fa-solid fa-share-nodes fa-sm" style="color: black"></i>
                    Share
                </button>
                <div class="addUsr">
                    <i class="fa-sharp fa-solid fa-user-plus fa-lg"></i>
                </div>
                <div class="usrIcon">
                    <img id="owner_img" src="{{all_members[0].photoURL}}" alt="img">
                </div>

                <div class="usrIcon1" *ngIf="all_members[1] != null">
                    <img id="owner_img" src="{{all_members[1].photoURL}}" alt="img">
                </div>
                <div class="usrIcon1" *ngIf="all_members[1] == null">
                    <i class="fa-sharp fa-solid fa-user fa-xl"></i>
                </div>

                <div class="usrIcon2" *ngIf="all_members[2] != null">
                    <img id="owner_img" src="{{all_members[2].photoURL}}" alt="img">
                </div>
                <div class="usrIcon2" *ngIf="all_members[2] == null">
                    <i class="fa-sharp fa-solid fa-user fa-xl"></i>
                </div>

                <div class="user_remain_div" *ngIf="usr_count > 3">
                    <p id="user_remain">and <span id="user_remain_count">{{usr_count}} </span>other people</p>
                </div>
            </div>
        </div>
        <div class="todoMainDiv" cdkDropListGroup>
            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">Todo</p>
                        <div *ngIf="todoList.length > 0" class="taskCountDiv" id="todoCount">
                            <span>
                                {{todoList.length}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="addTaskDiv" (click)="dialogAddTaskOpen('400ms', '100ms')">
                    <p id="addTask">+  Add New Task</p>
                </div>
                <div
                    cdkDropList
                    [cdkDropListData]="todoList"
                    class="todoLists"
                    id="todoDiv"
                    (cdkDropListDropped)="drop($event, 'todo')">
                    <div class="taskBox" *ngFor="let item of todoList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard" (click)="getTaskInfo(item.task_id)">
                            <mat-card-header class="cardTitle">
                                <p>{{item.name}}</p>
                                <div class="taskInfo">
                                    <img src="../../../assets/main-menu.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="{{owner_img}}" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">In Progress</p>
                        <div *ngIf="inProgressList.length > 0" class="taskCountDiv" id="inProgressCount">
                            <span>
                                {{inProgressList.length}}
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    cdkDropList
                    [cdkDropListData]="inProgressList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'in-progress')">
                    <div class="taskBox" *ngFor="let item of inProgressList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard" (click)="getTaskInfo(item.task_id)">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/main-menu.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="{{owner_img}}" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">Completed</p>
                        <div *ngIf="completeList.length > 0" class="taskCountDiv" id="completeCount">
                            <span>
                                {{completeList.length}}
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    cdkDropList
                    [cdkDropListData]="completeList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'completed')">
                    <div class="taskBox" *ngFor="let item of completeList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard" (click)="getTaskInfo(item.task_id)">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/main-menu.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="{{owner_img}}" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">Due</p>
                        <div *ngIf="dueList.length > 0" class="taskCountDiv" id="dueCount">
                            <span>
                                {{dueList.length}}
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    cdkDropList
                    [cdkDropListData]="dueList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'due')">
                    <div class="taskBox" *ngFor="let item of dueList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard" (click)="getTaskInfo(item.task_id)">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/main-menu.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="{{owner_img}}" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project_task_infoDiv">
        <div class="sidebar_info">
            <div class="sidebar_info_div">
                <p id="sidebar_project_title">Project: </p>
                <p id="sidebar_project_name">{{project_info.name}}</p>
            </div>
            <p>Due date: {{project_info.due_date}}</p>
            <p>Project state: {{project_info.status}}</p>
            <p>Project creator: {{project_info.owner}}</p>
            <p>Members: {{project_info.members.length}}</p>
        </div>
        <div *ngIf="singleTask != null" class="sidebar_info_task">
            <div class="sidebar_info_div">
                <p id="sidebar_project_title">Task: </p>
                <p id="sidebar_project_name">{{singleTask.name}}</p>
            </div>
            <p>Task Description: {{singleTask.description}}</p>
            <p>Task complexity: {{singleTask.complexity}}</p>
            <p>Task state: {{singleTask.status}}</p>
            <p>Due date: {{singleTask.deadline}}</p>
            <p>Created at: {{singleTask.created_at}}</p>
        </div>
    </div>
</div>
