.homeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FBF8FF;
    margin-left: 0rem;
    overflow: hidden;
    border-top: 2px solid #ffe600;
}


/* sidebar */
.menuDiv{
    width: 16rem;
    height: 60rem;
    background-color: #f1e9ff;
    // padding-top: 4.5rem;
}

#btnSpaceTop{
    width: 98.4%;
    height: 4.5rem;
    background-color: #f1e9ff;
    border: 1px solid #ffe600;
    border-top: none;
    border-bottom: none;
}

#btnSpaceBottom{
    width: 99.4%;
    height: 100%;
    background-color: #f1e9ff;
    border-right: 1px solid #ffe600;
    margin-top: -2%;
}

.mat-button-toggle-group{
    display: flex;
    flex-direction: column;
    border: none;
}

::ng-deep .mat-button-toggle{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 98.7%;
    height: 3.9rem;
    font-size: 50%;
    background-color: transparent;
    font-size: 1.5rem;
    padding-top: 6% !important;
    border-right: 1px solid #ffe600;
}

#menuBtnCallendar{

    padding-right: 1px;
}

::ng-deep .mat-button-toggle-checked{
    // position: absolute;
    width: 99%;
    background-color: #fbf8ff !important;
    border-right: none !important;
    border-radius: 0px;
    border-top: 1px solid #ffe600;
    border-bottom: 1px solid #ffe600;
    border-left: 1px solid #ffe600;
    padding-right: 1px;
}

.mat-button-toggle:hover{
    cursor: pointer;
    background-color: #f5f0fd;
}

.mat-button-toggle-checked:hover{
    cursor: pointer;
    background-color: #f5f0fd !important;
}

.mat-button-toggle-checked:active{
    border-right: none !important;
}

/* Home div */
.infoDiv{
    width: 99%;
    height: 10%;
    background-color: #FBF8FF;
    padding-left: 1%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    // vertical-align: middle;
}

.homeDiv{
    // position: absolute;
    width: 100%;
    background-color: #FBF8FF;
}

#funcTitle{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1%;
}

.projInfo{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-top: -.4rem;
    margin-left: 1rem;
}

.userDiv{
    width: 10rem;
    min-height: 3.3rem;
    display: flex;
    flex-direction: row;
    margin-left: 84%;
    margin-top: -5%;
}


.usrIcon{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(255, 205, 205);
}

.usrIcon1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(250, 145, 145);
    margin-left: -.7rem;
}

.usrIcon2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(255, 100, 100);
    margin-left: -.7rem;
}

.addUsr{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: .5rem;
}

.addUsr:hover{
    cursor: pointer;
}

.todoMainDiv{
    width: 96.5%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #e8daff;
    padding: 1rem 0rem 0rem 0rem;
    margin-top: 4%;
    margin-left: 2rem;
    border: 1px solid #ffe600;
    box-shadow: 0px -4px 8px 0px rgba(129, 129, 129, 0.75);
    // overflow-y: visible;
    overflow-y: scroll;
}

.dragContainer{
    width: 23%;
    margin-left: 1.5%;
}

.taskTitleDiv{
    height: 5%;
    // background-color: red;
    margin-left: 5%;
}

.taskDiv{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: #67dcff;
}

.taskDiv > p{
    padding: 0;
    margin: 0;
}

.todoLists{
    width: 100%;
    height: 95%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1%;
}

.taskBox{
    margin-top: 2%;
    border-radius: 15px;
    margin-bottom: 5%;
}

.taskTitle{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
}

.mat-button{
    float: right;
}

.mat-mdc-card-content{
    padding-bottom: .8rem;
}

.todoCard{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border-radius: 15px !important;
    overflow: hidden;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    border: 1px solid #ffe600 !important;
    :hover{
        cursor: grab;
    }
    :active{
        cursor: grabbing;
    }
}

.cdk-drag-dragging{
    cursor: grabbing;
}

.cardTitle{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardInfo{
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 3%;
}

.cardAct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 3%;
}

.cardAct > i:hover{
    cursor: pointer;
}

.commentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 10ms cubic-bezier(0, 0, 0.2, 1);
  }

.cdk-drag-animating {
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.addTaskPop{
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addTaskBtn{
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;
    background-color: #ffef79;
    padding: .5%;
    margin-left: 5%;
    margin-top: -5%;
}

.addTaskDiv{
    width: 98%;
    height: 2.5rem;
    border: 3px dashed #666666;
    border-radius: 15px;
    background-color: #FBF8FF;
    margin-top: 3%;
}

.addTaskDiv:hover{
    cursor: pointer;
}

#addTask{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #666666;
    margin-top: 2%;
}

#todoMenu:hover{
    cursor: pointer;
}

.userImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

#commentSpace{
    margin-left: 20%;
}

// .infoads{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

#infoBtn{
    width: 24px;
    height: 24px;
}

#infoBtn:hover{
    cursor: pointer;
}
