<app-navbar></app-navbar>

<!-- <button (click)="getTaskByPrjId()">get tasks</button>

<button (click)="sendTask()">send task</button>
<p *ngFor="let item of taskPrj">{{item.name}}</p> -->

<div class="homeContainer">
    <mat-button-toggle-group value="tasks" class="menuDiv">
        <div id="btnSpaceTop"></div>
        <mat-button-toggle class="menuBtn" value="tasks">Tasks</mat-button-toggle>
        <mat-button-toggle class="menuBtn" id="menuBtnCallendar">Callendar</mat-button-toggle>
        <div id="btnSpaceBottom"></div>
    </mat-button-toggle-group>
    <div class="homeDiv">
        <div class="infoDiv">
            <div class="infoSubDiv">
                <h1 id="funcTitle">Project Name</h1>
                <p class="projInfo">Priority: <span id="priorContent">HIGH</span></p>
                <p class="projInfo">Due date: <span id="dateContent">17 March 2023</span></p>
            </div>
            <div class="userDiv">
                <div class="usrIcon">
                    <i id="icon1" class="fa-sharp fa-solid fa-user fa-xl" id="icon"></i>
                </div>
                <div class="usrIcon1">
                    <i class="fa-sharp fa-solid fa-user fa-xl"></i>
                </div>
                <div class="usrIcon2">
                    <i class="fa-sharp fa-solid fa-user fa-xl"></i>
                </div>
                <div class="addUsr">
                    <i class="fa-sharp fa-solid fa-user-plus fa-lg"></i>
                </div>
            </div>
        </div>
        <div class="todoMainDiv" cdkDropListGroup>
            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">Todo</p>
                    </div>
                </div>
                <div class="addTaskDiv" (click)="dialogAddTaskOpen('400ms', '100ms')">
                    <p id="addTask">+  Add New Task</p>
                </div>
                <div 
                    cdkDropList
                    [cdkDropListData]="todoList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'todo')">
                    
                    <div class="taskBox" *ngFor="let item of todoList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/menu-burger.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="https://www.pngkit.com/png/detail/301-3012694_account-user-profile-avatar-comments-fa-user-circle.png" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>  
                </div>
            </div>

            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">In Progress</p>
                    </div>
                </div>
                <div 
                    cdkDropList
                    [cdkDropListData]="inProgressList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'in-progress')">
                    <div class="taskBox" *ngFor="let item of inProgressList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/menu-burger.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="https://www.pngkit.com/png/detail/301-3012694_account-user-profile-avatar-comments-fa-user-circle.png" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">Completed</p>
                    </div>
                </div>
                <div 
                    cdkDropList
                    [cdkDropListData]="completeList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'completed')">
                    <div class="taskBox" *ngFor="let item of completeList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/menu-burger.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="https://www.pngkit.com/png/detail/301-3012694_account-user-profile-avatar-comments-fa-user-circle.png" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="dragContainer">
                <div class="taskTitleDiv">
                    <div class="taskDiv">
                        <p class="taskTitle">Due</p>
                    </div>
                </div>
                <div 
                    cdkDropList
                    [cdkDropListData]="dueList"
                    class="todoLists"
                    (cdkDropListDropped)="drop($event, 'due')">
                    <div class="taskBox" *ngFor="let item of dueList" cdkDragBoundary=".todoMainDiv" cdkDrag>
                        <mat-card class="todoCard">
                            <mat-card-header class="cardTitle">
                                {{item.name}}
                                <div class="taskInfo">
                                    <img src="../../../assets/menu-burger.png" alt="moteInfo" id="infoBtn" (click)="dialogTaskInfoOpen('400ms', '100ms', item.task_id)">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="cardInfo">Description: {{item.description}}</mat-card-content>
                            <mat-card-content class="cardInfo">Due date: {{item.deadline}}</mat-card-content>
                            <mat-card-actions class="cardAct">
                                <img src="https://www.pngkit.com/png/detail/301-3012694_account-user-profile-avatar-comments-fa-user-circle.png" class="userImg" alt="usrImg">
                                <div class="commentDiv">
                                    <span>{{item.comment_count}}</span>
                                    <i class="fa-sharp fa-solid fa-comment fa-xl" id="commentSpace"></i>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>