<div class="reponsive">

    <div class="container">
      <div class="interface-login">
        <div class="title">
          <P>Welcome</P>
          <P>Easy Teamwork!</P>
          <span>Sign up to continue</span>
        </div>
    
        <div class="logo">
          <div class="logo-team">
            <h3>ET</h3>
          </div>
        </div>
    
        <div class="input-email">
          <div class="Email">
            <input type="text" placeholder="Email" style="background: none;"/>
          </div>
          <div class="Email">
            <input type="text" placeholder="UserName" style="background: none;"/>
          </div>
          <div class="Password">
            <input type="password" placeholder=" Create password" style="background: none;"/>
          </div>
          <div class="Password">
            <input type="password" placeholder=" Confirm password" style="background: none;"/>
          </div>
        </div>
    

        <div class="btn-signIn">
            <button mat-raised-button [routerLink]="['/login']">Sign up</button>
            <a href="login">Return to login</a>
          </div>
      </div>
    </div>
</div>
  
  