::ng-deep mat-mdc-dialog-container{
    width: 100%;
    height: 60%;
    border-radius: 15px !important;
    padding: 1rem;
}

::ng-deep .cdk-overlay-pane{
    width: 36rem;
    height: fit-content;
    padding: 1rem;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    border-radius: 15px;
    padding: .2rem;
    background-color: #FBF8FF;
    border: 1px solid #ffe600;
}

.container{
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #FBF8FF;
    border-radius: 15px;
    padding-bottom: 1rem; 
}

.addTitle{
    // display: flex;
    background-color: #F1E9FF;
    text-align: center;
    padding-top: 2%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    // justify-content: center;
}

.addTitle > h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.infoDiv{
    margin-top: 5%;
    padding: 1%;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: center;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: left;
}

#addBTn{
    width: 20%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 7px;
    background-color: #DFCCFF;
    padding: .5rem;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    border: 1px solid #ffe600;
}

#addBTn:hover{
    cursor: pointer;
    background-color: #eadeff;
}

#closeBtn{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 1.2rem;
    color: #666666;
    border: none;
    background-color: transparent;
}

#closeBtn:hover{
    cursor: pointer;
}

#closeBtn:focus{
    outline: none;
    outline-style: none;
}

#closeImg{
    width: 16px;
    height: 16px;
}

#taskComplex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // vertical-align: middle;
}

#taskComplex > p{
    padding-top: .7rem;
}

mat-slider{
    width: 20rem;
    margin-right: 1rem;
}

:host ::ng-deep .mat-mdc-slider.mat-primary{
    --mdc-slider-handle-color: #dfccff;
    --mdc-slider-focus-handle-color: #dac6fc;
    --mdc-slider-inactive-track-color: #cbadff;
    --mdc-slider-active-track-color: #d1b7ff;
    --mat-mdc-slider-hover-ripple-color: transparent;
    --mat-mdc-slider-focus-ripple-color: rgba(209, 183, 255, 0.1);
}

:host ::ng-deep .mat-mdc-slider{
    --mdc-slider-label-label-text-font: 'Quicksand', sans-serif;
    --mdc-slider-label-label-text-font-size: 14rem;
    --mdc-slider-label-container-color: #9a5fff;
    --mdc-slider-label-label-text-color: #ffffff;
}

.row{
    width: 95%;
    display: flex;
    margin: 1.5% 0;
    justify-content: center;
}

.input{    
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    padding-left: 1.2rem;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    height: 0;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #f6f0ff;
    border-radius: 10px;
    margin: 0 auto;
}

:host ::ng-deep .mat-mdc-raised-button>.mat-icon{
    margin: 0;
}

#calendar-btn{
    height: 56px;
    background-color: #f6f0ff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;
}

:host ::ng-deep .mat-calendar-body-selected{
    background-color: #b183ff;
    color: #666666;
}

:host ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    background-color: #d5bdff;
    color: #666666;
}

#datePicker{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: -1%;
}