<div class="container">
  <div class="interface-login">
    <div class="title">
      <P>Welcome</P>
      <P>Easy Teamwork!</P>
      <span>Sign in to continue</span>
    </div>

    <div class="logo">
      <div class="logo-team">
        <h3>ET</h3>
      </div>
    </div>

    <div class="input-email">
      <div class="Email">
        <input type="text" placeholder="Email/Phone" />
      </div>
      <div class="Password">
        <input type="password" placeholder="Password" />
      </div>
    </div>

    <div class="btn-signIn">
      <button mat-raised-button>Sign in</button>
      <a>Forgot Password?</a>
    </div>

    <div class="word-Or">
      <table>
        <tr>
          <td id="hr">&nbsp;</td>
          <td rowspan="2" id="or">Or</td>
          <td id="hr">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <!-- <hr style="width: 20px; 
                 font-weight: bold;">

             <span>Or</span>

             <hr style="width: 20px; 
                 font-weight: bold;"> -->
    </div>

    <div class="signInWithGoogle">
      <button mat-raised-button>
        <i class="fa-brands fa-google" ></i>
        <!-- <div class="image">
            <img src="" >
        </div> -->
        
        <span> Sign in with Google </span>
      </button>
    </div>

    <div class="option">
      <p>Don't have an account?</p>
      <a>Create account</a>
    </div>
  </div>
</div>
