<div class="reponsive">
  <div class="container">
    <div class="interface-login">
      <div class="title">
        <P>Welcome</P>
        <P>Easy Teamwork!</P>
        <span>Sign in to continue</span>
      </div>

      <div class="logo">
        <div class="logo-team">
          <h3>ET</h3>
        </div>
      </div>

      <div class="input-email">
        <div class="Email">
          <input type="text" placeholder="Email" style="background: none;"/>
        </div>
        <div class="Password">
          <input type="password" placeholder="Password" style="background: none;"/>
        </div>
      </div>

      <div class="btn-signIn">
        <button mat-raised-button>Sign in</button>
        <a>Forgot Password?</a>
      </div>

      <div class="word-Or">
        <table>
          <tr>
            <td id="hr">&nbsp;</td>
            <td rowspan="2" id="or">Or</td>
            <td id="hr">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
        <!-- <hr style="width: 20px;
                   font-weight: bold;">

               <span>Or</span>

               <hr style="width: 20px;
                   font-weight: bold;"> -->
      </div>

      <div class="signInWithGoogle">
        <button mat-raised-button (click)="userService.loginWithGoogle()">
          <!-- <i class="fa-brands fa-google" ></i> -->
          <div style="display: flex;align-items: center;justify-content: center;">
            <div class="img">
              <img src="../../../assets/gg.png" alt="" />
            </div>
            <div class="gg">
              <span> Sign in with Google </span>
            </div>
          </div>
        </button>
      </div>

      <div class="option">
        <p>Don't have an account?</p>
        <a href="createaccount" (click)="create_account()">Create account</a>
      </div>
    </div>
  </div>


</div>


