::ng-deep mat-mdc-dialog-container{
  width: 100%;
  height: 60%;
  border-radius: 15px !important;
  padding: 1rem;
}

::ng-deep .cdk-overlay-pane{
  width: 36rem;
  height: fit-content;
  padding: 1rem;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 15px;
  padding: .2rem;
  background-color: rgba(98, 24, 93, .9);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  color: white;
}

.taskNameDiv {
  // color:
  display: flex;
  // flex-direction: row;
  justify-content: left;
  color: white;
  background-color: #FE6F7A;
  box-shadow: 0px 1px 19px 0px rgba(254,111,122,0.75);
  text-align: left;
  padding: .5rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#nameInput {
  margin: 0;
  outline: none;
  outline-style: none;
  border: none;
  color: white;
  background-color: #FE6F7A;
  box-shadow: 0px 1px 19px 0px rgba(254,111,122,0.75);
  font-size: 1.5rem;

  :focus {
    outline: none;
    outline-style: none;
  }
}

.desDiv {
  height: 6rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.restDiv {
  display: flex;
  flex-direction: column;
  // padding-left: 1rem;
  padding: 0 1rem;
}

.statDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
}

.statDiv>p {
  margin: 0 0;
  padding-top: .8rem;
}

.infoInput {
  // width: 20rem;
  // height: 5rem;
  font-family: "Quicksand", "sans-serif";
  font-weight: 400;
  margin: 0;
  outline: none;
  outline-style: none;
  color: white;
  background-color: #e47c94;
  box-shadow: 0px 1px 19px 0px rgba(252, 126, 136, 0.75);
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  height: fit-content;
  resize: vertical;

  :focus {
    outline: none;
    outline-style: none;
  }
}

#closeBtn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 1.2rem;
  color: #666666;
  border: none;
  background-color: transparent;
}

#closeBtn:hover {
  cursor: pointer;
}

#closeBtn:focus {
  outline: none;
  outline-style: none;
}

#closeImg {
  width: 16px;
  height: 16px;
}

.taskInfoDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 1rem;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  height: 1rem !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
}

:host ::ng-deep .mat-mdc-form-field {
  width: 22rem !important;
  height: 4rem !important;
}

:host ::ng-deep .mat-mdc-select-arrow {
  margin: 0 !important;
  padding: 0 !important;
}

:host ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: .6rem !important;
  padding-bottom: 0rem !important;
}

:host ::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled),
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
  background-color: rgba(248, 195, 199, 0.8);
}

:host ::ng-deep .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: white;
}

.btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0rem 1rem 1rem 0;
}

.button {
  width: 20%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: #FE6F7A;
  box-shadow: 0px 1px 19px 0px rgba(254,111,122,0.75);
  padding: .5rem;
}

.button:hover {
  cursor: pointer;
  background-color: #ff8c96;
}

#delButton {
  background-color: #ff3d3d;
  margin-left: 1.5rem;
}

#delButton:hover {
  background-color: #ff7878;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #e47c94;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}

:host ::ng-deep .mdc-menu-surface.mat-mdc-select-panel {
  border-radius: 10px;
}

#dueDate {
  margin-left: 6rem;
}

#createDate {
  margin-left: 4rem;
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(228, 226, 226, 1);
}

::ng-deep .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
  color: rgb(95, 95, 95);
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text{
  font-weight: bold;
  color: rgb(124, 124, 124);
}

::ng-deep .mat-mdc-select-value{
  color: white;
  .select-assignee {
  display: flex;
  flex-direction: row;
  margin: 15px 0;

    .label-input {
      font-weight: bold;
      margin: 5px 0;
    }
  }
}