<div id="container">
  <div class="user-info" *ngFor="let item of (users$|async)?.users">
    <div>
      <div class="content">
        <div class="info">
          <div class="avt">
            <img *ngIf="item !== null" [src]="item.photoURL" alt="">
          </div>
          <div class="name-email">
            <p class="name">{{item.displayName}}</p>
            <p class="email">{{item.email}}</p>
          </div>
        </div>
        <div (click)="sendInvite(item)" class="invite">
          <mat-icon class="material-symbols-outlined">
            send
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
