<div id="container">
  <div class="user-info">
    <div *ngIf="(this.users$ | async)?.loading == false && (this.users$ | async)?.users ">
      <div class="content">
        <div class="info">
          <div class="avt">
            <img *ngIf="user !== null" [src]="user.photoURL" alt="">
          </div>
          <div class="name-email">
            <p class="name">{{user.displayName}}</p>
            <p class="email">{{user.email}}</p>
          </div>
        </div>
        <div (click)="sendInvite(user)" class="invite">
          <span class="material-symbols-outlined">
            send
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
