<div class="table">
  <div class="header">
    <span>Share Project</span>
    <div id="closeBtn" (click)="closeDialogShare()">
      <img id="close-icon" src="https://cdn-icons-png.flaticon.com/512/1828/1828778.png" />
    </div>
  </div>

  <div class="body">
    <div class="row">
      <mat-chip-grid #userGrid aria-label="Enter user" >
        <mat-chip-row *ngFor="let tag of tagsMembers" [value]="tag" removable></mat-chip-row>
        <input class="input" type="text" placeholder="Thêm người để gửi đường liên kết tới"
        [matAutocomplete]="autocomplete"
        [matChipInputFor]="userGrid"
        [matChipInputAddOnBlur]="addOnBlur"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
    </mat-chip-grid>
    </div>
    <mat-autocomplete #autocomplete >
      <mat-option class="option" *ngFor="let option of options" [value]="option">
        <img [src]="option.photoURL" alt="">
        <h6>{{option.displayName}}</h6>
      </mat-option>
    </mat-autocomplete>
    <div class="row2">
      <textarea class="input" type="text" placeholder="Lời nhắn" style="resize: vertical"></textarea>
    </div>
  <div>
  <div class="content">
    <p style="margin: 2% 7%">Quyền truy cập chung</p>
    <div class="notification" style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2% 7%;
      ">
      <div class="left" style="
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 4%;
          margin-right: 4%;
        ">
        <i class="fa-solid fa-earth-americas"></i>
      </div>
      <div class="middle">
        <span style="font-size: 1.1rem">Bất kỳ ai có đường liên kết</span>
        <p style="color: grey; font-size: 0.8rem">
          Bất kỳ ai có kết nối Internet và có đường liên kết này đều có thể xem
        </p>
      </div>
      <div class="right" style="
          color: grey;
          margin-left: 13%;
          margin-bottom: 1.5%;
          font-size: 1rem;
        ">
        <span>Người xem</span>
      </div>
    </div>
  </div>
  <div class="footer" style="
      margin: 2% 7%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    ">
    <button style="border: 0.01px solid #000">
      <i class="fa-solid fa-copy"></i>Sao chép đường liên kết
    </button>
    <button>Yều cầu chia sẻ</button>
    <button (click)="closeDialogShare()">Hủy</button>
    <button (click)="send()" matTooltip="Send" matTooltipPlacement="top">Gửi</button>
  </div>
</div>
