<div class="container">
  <div class="header">Add member</div>
  <div class="footer">
    <div id="host">Host's project:</div>
    <mat-card class="example-card">
      <mat-card-header class="example-card-header">
        <img
          mat-card-avatar
          class="example-header-image"
          [src]="this.data.owner.photoURL"
        />
        <mat-card-title>{{ this.data.owner.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ this.data.owner.email }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <div class="input">
      <form class="example-form">
        <mat-form-field class="add_member">
          <mat-label>Member's email</mat-label>
          <input
            matInput
            placeholder=""
            title="email"
            [formControl]="emailControl"
          />
          <mat-error *ngIf="emailControl.hasError('email')">
            Must be <strong>email</strong>
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('required')">
            Missing required <strong>field</strong>
          </mat-error>
          <!-- <mat-autocomplete #autocomplete >
            <mat-option class="option" *ngFor="let option of options" [value]="option">
              <img [src]="option.photoURL" alt="">
              <h6>{{option.displayName}}</h6>
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
      </form>
    </div>

    <div class="btn_container">
      <div>
        <button
          class="button"
          (click)="addInvite()"
          aria-label="Example icon-button with add icon"
          [disabled]="!emailControl.valid"
        >
          ADD
        </button>
      </div>
    </div>
  </div>
</div>
