<mat-card>
  <mat-card-header>
      NOTIFICATIONS
      <mat-icon nbTooltip="Close dialog" nbTooltipPlacement="top" (click)="dialogref.close()" icon="close-outline"></mat-icon>
  </mat-card-header>
  <mat-card-content>
       <div class="noti-list" *ngIf="notis.length !== 0">
          <app-notification-item *ngFor="let noti of notis" [noti]="noti"></app-notification-item>
       </div>
       <div>
          <p *ngIf="notis.length === 0">You have no notifications.</p>
       </div>
  </mat-card-content>
</mat-card>
