<div id="navbar"></div>
<div id="body">
    <div id="title">
        <p>Projects</p>
    </div>
    <div id="overview">
        <div id="overview-header">Overview</div>
        <div id="overview-body">
            <div class="overview-content" id="total">
                <div class="amount"><span>number</span></div>
                <div class="horizone"><hr></div>
                <div class="type"><span>Total</span></div>
            </div>
            <div class="overview-content" id="in-progress">
                <div class="amount"><span>number</span></div>
                <div class="horizone"><hr></div>
                <div class="type"><span>In progress</span></div>
            </div>
            <div class="overview-content" id="completed">
                <div class="amount"><span>number</span></div>
                <div class="horizone"><hr></div>
                <div class="type"><span>Completed</span></div>
            </div>
            <div class="overview-content" id="overdue">
                <div class="amount"><span>number</span></div>
                <div class="horizone"><hr></div>
                <div class="type"><span>Overdue</span></div>
            </div>
        </div>
    </div>
    <div id="create-project">
        <button id="create-btn">
            <i class="fa-solid fa-square-plus"></i>
            <span>Create project</span>
        </button>
    </div>
    <div id="table">
        <div id="table-header"></div>
        <div id="table-body">
            <div class="table-row"></div>
        </div>
    </div>
</div>