body{
  margin: 0;
}

p{
  margin: 0;
}

hr{
  margin: 0;
  border: none;
  background-color: transparent;
}


// css body
#body{
    height: fit-content;
    padding:  2.3771790808%;
    background-color: transparent;
    color: white;
}

//// css title
#title{
  width: fit-content;
  font-family: 'Ubuntu', sans-serif;
  font-size:  1.56rem;
  font-weight: bolder;
  padding: 0 0.63rem;
}

//// css overview
#overview{
  display: inline-block;
  height: fit-content;
  width: 31.88rem;
  font-family: 'Quicksand', sans-serif;
  margin: 1.25rem 0;
  border-radius: 0.63rem;
  border: 1px solid rgba(255, 255, 255, .8);
}
#overview-header{
  height: 1.88rem;
  font-size: 1rem;
  font-weight: bolder;
  padding: 1.25rem 0 0 1.88rem;
  border-radius: 0.63rem 0.63rem 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: none;
}
#overview-body{
    display: flex;
    height: 5rem;
    font-weight: bold;
    padding: 0.94rem 0 0 0.94rem;
    border-radius: 0 0 0.63rem 0.63rem;
    background-color: rgba(255, 255, 255, .3);
}
.overview-content{
  height: fit-content;
  width: 5rem;
  padding: 0.63rem 0;
  border-radius: 0.63rem;
  margin: 0 4%;
}
.amount{
  font-size: 0.88rem;
  text-align: center;
  margin-bottom: 0.31rem;
}
.type{
  font-size: 0.81rem;
  text-align: center;
  margin-top: 0.31rem;
}
.horizone{
  width: 4.06rem;
  height: 0.06rem ;
  margin: 0 auto;
}
#total{
  color: white;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
  .horizone{
      background-color: white;
  }
}
#in-progress{
  color: #58dbe7;
  text-shadow: 0px 0px 6px rgba(88, 219, 231, .6);
  .horizone{
      background-color: #58dbe7;
  }
}
#completed{
  color: #2feb00;
  text-shadow: 0px 0px 20px rgba(47, 235, 0, .6);
  .horizone{
      background-color: #2feb00;
  }
}
#overdue{
  color: #ff2121;
  text-shadow: 0px 0px 20px rgba(255, 33, 33, .6);
  .horizone{
      background-color: #ff2121;
  }
}

//// css create-project
#create-project{
  display: inline-block;
  float: right;
  height: fit-content;
  width: fit-content;
  margin-top: 0;
  transition: 0.25s;
  :hover{
      cursor: pointer;
      background-color: rgb(254, 111, 122);
      transition: 0.25s;
  }
}
#create-btn{
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.63rem;
  border: none;
  background-color: rgba(254, 111, 122, .7);
  box-shadow: 0px 1px 19px 0px rgba(254,111,122,0.75);
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  :hover{
      cursor: pointer;
      background-color: rgb(254, 111, 122);
      box-shadow: 0px 1px 19px 0px rgba(255, 137, 147, 0.75);
      transition: 0.25s;
  }
}
#create-content{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  margin: 0;
  font-weight: bold;
}

#share-btn{
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.63rem;
  background-color: #FFF6A6;
  border: 0.06rem solid #F9F6DD;
  margin: auto;
  padding: 0;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-share{
  color: #666666;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  margin: 0;
  font-weight: bold;
}

////css table
#table{
    margin: 0 auto;
    min-height: 39.06rem;
    min-width: 78.13rem;
    width: 100%;
    height: fit-content;
    border-radius: 0.63rem;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .8);
}
#table-header{
  height: 5.50rem;
  color: white;
  border-radius: 0.63rem 0.63rem 0 0;
  background-color: rgba(255, 255, 255, .3);
  border: 1px solid rgba(255, 255, 255, .8);
}
#search{
  width: 30%;
  input{
      // width: 20rem;
      width: 100%;
      height: 1.25rem;
      font-size: 1rem;
      font-family: 'Quicksand', sans-serif;
      border: 0.06rem solid rgba(255, 255, 255, .8);
      background-color: rgba(255, 255, 255, .3);
      border-right: none;
      transition: 0.25s;
  }
}
#search > input:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, .7);
}
#search > input:focus{
  outline: none;
  outline-style: none;
  color: rgb(70, 70, 70);
  background-color: rgba(255, 255, 255, .5);
  transition: 0.25s;
}
#search-btn-container{
  display: inline-flex;
  width: fit-content;
  height: fit-content;  
  color: #666666;
}
#search-icon{
  color: #666666;
}
#search-btn{
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(255, 255, 255, .8);
  color: #666666;
  padding: 0;
  border-radius: 0;
  :hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: none;
    color: black;
  }
}
.view-mode{
  display: inline-flex;
  height: fit-content;
  width: 12%;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  // padding: 1.25rem 0 0 1.88rem;
  padding: 1.25rem 0 0 2%;
  button{
      color: #666666;
      // border: 0.06rem solid #F9F6DD;
      border: none;
      color: white;
      background-color: rgb(254, 111, 122);
      box-shadow: 0px 1px 19px 0px rgba(254,111,122,0.75);
      font-size: 1rem;
      font-weight: bolder;
      font-family: 'Quicksand', sans-serif;
      padding: 0.2rem 0.63rem;
      margin: 0;
      border-radius: 0.63rem;
      transition: 0.5s;
  }
  :hover{
      cursor: pointer;
      box-shadow: 0px 1px 19px 0px rgba(255, 137, 147, 0.75);
      transition: 0.5s;
  }
}
#view-all{
  // margin-left: 1.25rem;
  margin-left: 2%;
  width: 7%;
}
#view-in-progress{
  width: 12%;
}
#view-completed{
  width: 12%;
}
#view-overdue{
  width: 10%;
}
#view-marked{
  // margin-left: 1.25rem;
  margin-left: 1%;
  width: 12%;
}
.attribute{
  display: inline-block;
  height: fit-content;
  width: fit-content;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  // padding: 1.25rem 0 0 1.88rem;
  padding: 1.25rem 0 0 2.5%;
  button{
      font-size: 1rem;
      font-weight: bolder;
      font-family: 'Quicksand', sans-serif;
      padding: 0;
      color: white;
      margin: 0;
      border: none;
      background-color: transparent;
      :hover{
          color: rgb(228, 228, 228);
          cursor: pointer;
      }
  }
}
.name-span{
  color: white;
}
#name{
  // width: 10.94rem;
  width: 15%;
}
#state{
  // width: 7.81rem;
  width: 11%;
  // margin-left: 1.25rem;
  margin-left: 1%;
}
#date{
  // width: 10.31rem;
  width: 12%;
  margin-left: 2%;
}
#mems{
  display: inline-flex;
  width: 8%;
  justify-content: center;
  margin-left: 1%;
}
#host{
  margin-left: 6%;
}
.item-attribute{
  display: inline-flex;
  align-items: center;
  height: 1.88rem;
  width: fit-content;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 2.5%;
}
#item-mark{
  button{
      width: fit-content;
      height: fit-content;
      border: none;
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      :hover{
          cursor: pointer;
          // background-color: #fff382;
          box-shadow: 0px 0px 19px 2px rgba(255, 243, 130, .6);
          border-radius: 25%;
      }
  }
}
#item-name{
  // width: 10.94rem;
  color: white;
  width: 15%;
}
#item-state{
  // width: 7.81rem;
  width: 11%;
  // margin-left: 1.25rem;
  margin-left: 1%;
}
#item-date{
  // width: 10.31rem;
  width: 12%;
  margin-left: 2%;
}
#date-content{
  width: 9.38rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
#item-mems{
  display: flex;
  width: 8%;
  justify-content: center;
  margin-left: 1%;
}
#item-host{
  // width: 20.63rem;
  width: 21%;
  margin-left: 6%;
}
#item-options{
  width: fit-content;
  height: fit-content;
  margin-left: 2%;
  button{
      width: 0.81rem;
      height: 0.81rem;
      border: none;
      background-color: transparent;
      padding: 0;
      border-radius: 0;
  }
  :hover{
      cursor: pointer;
      background-color: rgba(255, 255, 255, .4);
      border-radius: 25%;
  }
}
.icon{
  width: 0.94rem;
  height: 0.94rem;
}
#table-body{
  min-height: 33.5rem;
  height: fit-content;
}
.table-row{
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 0.06rem solid rgba(255, 255, 255, .5);
}
.table-row:hover{
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.125s;
}
#state-dot{
  display: inline-block;
  width: 0.63rem;
  height: 0.63rem;
  border-radius: 50%;
  margin-right: 5%;
}
.avatar{
  width: 1.88rem;
  height: 1.88rem;
  border-radius: 50%;
  margin-right: 5%;
  background-color: #44AEB7;
}

.non-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

::ng-deep .fa-solid{
  color: white;
}
