

// .input{
//     padding: 13px;
//     border-radius: 8px;
//     width: 700px;
//     border: none;
//     margin-left: 20px;
//     background-color: beige;

// }

// .box{
//     width: 500px;

//     display: flex;
//     justify-content: space-between;
//     align-items:center;
// }

// .icon{
//     width: 40px;

// }

.logo {
  width: auto;
  height: 3rem;
  padding-top: 0.3rem;
  margin-left: 1.5rem;

  .logo-team{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.4rem;
    background-color: #ffacac;
    margin-right: 0.8rem;
  }

  h3 {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.3rem;
  }
}

.logoName {
  margin-right: 6rem;
}

.input {
  border-radius: 1.5rem;
  margin-right: 9rem;
  background-color: #cfd8dc;
  color: #000;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  width: 20rem;
  height: 2rem;
}

.btn-page{
  display: flex;
  justify-content: space-between;

  .btn-homeTask{
    width: auto;
    margin-left: 2rem;  
  }

  .btn-ViewAllProject{
    width: auto;
    margin-left: 3rem;
  }

}

.userName {
  width: 4rem;
  margin-left: 11rem;
  .image-user {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      margin-right:0.8rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    p{
        margin-right:0.8rem;
        padding-top: 0.5rem;
    }
  }
}
