<!-- 
<div class="container">
    <p class="logo">ET</p>
    <b>Easy Teamwork</b>
    <input type="text" placeholder="Search...">
    <button>HomeTask</button>
    <button>ViewAllProject</button>

</div> -->

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <div
      class="logo-title"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div
        class="logo"
        style="
          width: 50px;
          height: 50px;
          border-radius: 100px;
          background-color: green;
          text-align: center;
          padding-top: 6px;
          font-family: Pacifico;
          font-size: 22px;
        "
      >
      <h1>ET</h1>
      </div>
      <b>Easy Teamwork</b>
    </div>

    <input type="text" placeholder="Search..." />
    <div
      class="btn"
      style="
        width: 300px;
        display: flex;
        justify-content: space-between;
        background-color: aqua;
      "
    >
      <button type="button" class="btn btn-info">HomeTask</button>
      <button type="button" class="btn btn-secondary">ViewAllProject</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar color="primary" >
    
    <div class="logo">
        <p>ET</p>
    </div>
  
    <b class="logoName">Easy Teamwork</b>
  
    <input class="input" type="text" placeholder="Search ...">
  
    <div class="spacer"></div>
  
    <div class="box">
      <button type="button" class="btn btn-info">HomeTask</button>
      <button type="button" class="btn btn-secondary">ViewAllProject</button>
      
    </div>  

    <div class="userName">
        <div class="image-user">
            <img src="../../../assets/profile.png" alt="" class="img">
            <p>UserName</p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        
    </div>
</mat-toolbar>
