.reponsive{
  width: auto;
  height: auto;
}

.logo {
  width: auto;
  height: auto;
  margin: auto 0;
  margin-left: 2%;

  .logo-team {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.4rem;
    background-color: #ffacac;
    margin-right: 0.8rem;
  }

  h3 {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 100%;
    font-family: 'Pacifico', cursive;
    color: #000;
  }
}

.logoName {
  margin: auto 0;
  margin-right: 6rem;
}

.input-search {
  // background-color: #e11d1d;
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;

  .input {
    border-radius: 1.5rem;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
    padding-left: 5%;
  }
}

.btn-page {
  display: flex;
  justify-content: space-around;
  // background-color: #000;
  width: 30%;

  .btn-homeTask {
    width: auto;
    margin-left: 25%;
  }

  .btn-ViewAllProject {
    width: auto;
    margin-right: 5%;
  }
}

.userName {
  // background-color: #ffacac;
  width: 15%;
  margin-left: 5%;
  .image-user {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 20%;
      height: 20%;
      border-radius: 60%;
    }

    p {
      padding-top: 5%;
      margin-left: 3%;
    }

    i {
      cursor: pointer;
      margin-left: 3%;
    }
  }
}

.change-account{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// .nav_bars_btn{
//   width: 28px;
//   height: 28px;
//   color: #fff;
//   display: none;
// }

.mat-toolbar.mat-primary{
  background-color: #AA77FF;
}

// .btn-ViewAllProject .btn-homeTask .mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-unthemed.mat-mdc-button-base{
//   background-color: yellow !important;
// }