<mat-card>
  <mat-card-header>
      INVITATIONS
      <mat-icon matTooltip="Close Invitation" matTooltipPlacement="top" (click)="dialogref.close()">close</mat-icon>
  </mat-card-header>
  <mat-card-content>
      <div class="invite-list" *ngIf="invitations.length !== 0">
          <app-invitation-item *ngFor="let invitation of invitations" [invitation]="invitation" (repliedInvitationEvent)="repliedInvitationEvent($event)"></app-invitation-item>
      </div>
       <div>
          <p *ngIf="invitations.length === 0">You have no invitations.</p>
       </div>
  </mat-card-content>
</mat-card>
