<div class="container">
  <mat-card-header>
    INVITATIONS
    <mat-icon matTooltip="Close Invitations" matTooltipPlacement="top" (click)="dialogref.close()">close</mat-icon>
  </mat-card-header>
  <br />
  <div class="mdc-card mini-card mdc-elevation--z4" *ngFor="let request of requestProject$ | async">
    <div class="mdc-card__primary-action">
      <div class="media-image mdc-card__media mdc-card__media--square">
        <div class="mdc-card__media-content">
          <div class="card-info">
            <h1>Project Name: {{ request.name }}</h1>
            <h2>Inivite by: {{ request.owner }}</h2>
            <div style="display: flex; margin: 0 15px">
              <button mat-raised-button color="primary" (click)="acceptInvitation(request)">
                Accept
              </button>
              <hr style="margin: 0 5px; background-color: #dbdbdb" />
              <button mat-raised-button color="warn">Decline</button>
            </div>
            <h3>Easy Teamwork</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
